nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #777777;
}

li {
    float: left;
}

li:not(:last-child) {
    border-right: 2px solid #111111;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}