.code_td {
    padding: 2px;
}

.incorrect_code {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 5px;
    background-color: #ce7676;
}

input {
    height: 4rem;
    width: 6rem;
    margin: 2px;
    font-size: 2rem;
}

.correct_code {
    width: 100%;
    margin: 2px auto;
    font-size: 3rem;
    line-height: 4rem;
    color: #fffdfd;
    background-color: rgba(12, 101, 12, 0.84);
}

.code-input-disabled {
    width: 100%;
    margin: 2px auto;
    font-size: 2rem;
    line-height: 5rem;
    color: #fffdfd;
    background-color: rgb(173, 159, 160);
}